<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Push e Pop</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/script.js"></script>
</head>
<body>
    <div class="container">
        <h2>Adicionar Alunos com Push e Pop</h2>
        <p id="lista"></p>
        
        <div class="flax">
            <form onsubmit="adicionarAluno(event)">
                <input type="text" id="aluno" placeholder="Digite o aluno">
                <button type="submit">Adicionar</button>
            </form>
            <div class="button-container">
                <button onclick="desfazer()">Desfazer</button>
            </div>
        </div>
    </div>
</body>
</html>